NEXT_PUBLIC_USE_DUMMY=true
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_ALLOW_LIVE_API=true
RAMS_BACKEND_URL=http://localhost:8000
RAMS_AUTH_ENABLED=false
NEXT_PUBLIC_EMAILJS_SERVICE_ID= service_npswmis
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
